<div class="contents">
  <div class="title">
    <h1>あるものとは？</h1>
    <p>食材の個数や賞味期限を管理するアプリケーションです。</p>
    <p>冷蔵庫や食料庫に『あるもの』を見える化することでロスや無駄を防ぎます。</p>
  </div>

  <div class="background">
    <h2>作成の背景</h2>
    <p>冷蔵庫の奥で賞味期限が切れたワサビが発見されたり、買い物中に「あれ、ワサビまだあったっけ・・・？」と悩んだり、ないと思って買ったワサビが全然残っていたり・・・。</p>
    <p>このような「もったいない」を解決すべく、このアプリケーションを制作いたしました。「登録」「整理」「削除」のシンプルな機能のみで、食材の個数・賞味期限が一目でわかります。</p>
  </div>

  <div class="link">
    <h2>Git hub</h2>
    <p>『arumono』の制作はGit hubで管理しています。</p>
    <a href="https://github.com/simai923/arumono">リンクはこちら</a>
  <div>
</div>