<div class="contents">
  <div class="title">
    <h1>使い方</h1>
  </div>

  <div class="function">
    <p>1. 「登録する」ボタンから登録ページへ遷移します。</p>
    <p>2. 食材名・数量・単位・賞味期限を入力し、「保存ボタン」で登録します。</p>
    <p>3. 登録したものは「あるもの一覧」のページから確認出来ます。</p>
    <p>4. 数量の変更や削除を行う場合は、「整理する」ボタンから編集ページへ遷移します。</p>
  </div>
</div>

