<main role="main">

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-2">arumono</h1>
    <p class="lead">This is an application that manages ingredients and seasonings.</p>
    <%= link_to "あるものとは？", '#', class: "btn btn-info btn-lg" %>
  </div>
</div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>登録する</h2>
        <p>Register the ingredients and seasonings you have at home. Then, the list will be displayed in the order of the earliest expiration date.</p>
        <p><%= link_to "Register", new_food_path, class: "btn btn-info" %></p>
      </div>
      <div class="col-md-4">
        <h2>整理する</h2>
        <p>You can delete the registered ingredients and change the number. Let's organize what we used here.</p>
        <p><%= link_to "Organaize", foods_path, class: "btn btn-info" %></p>
      </div>
      <div class="col-md-4">
        <h2>買い物リストを作る</h2>
        <p>You can create a shopping list. Prevent forgetting to buy or overbuying.</p>
        <p><%= link_to "Create", '#', class: "btn btn-info" %></p>
      </div>
    </div>

    <hr>

  </div>
</main>

<footer class="container">
  <p>&copy; s.imai</p>
</footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>
  window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery-slim.min.js"><\/script>')
</script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script><script src="/docs/4.5/assets/js/vendor/anchor.min.js"></script>
<script src="/docs/4.5/assets/js/vendor/clipboard.min.js"></script>
<script src="/docs/4.5/assets/js/vendor/bs-custom-file-input.min.js"></script>
<script src="/docs/4.5/assets/js/src/application.js"></script>
<script src="/docs/4.5/assets/js/src/search.js"></script>
<script src="/docs/4.5/assets/js/src/ie-emulation-modes-warning.js"></script>
  </body>
</html>